@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 bg-white;
  }
}

/* Custom Slick Slider Dots */
.slick-dots li button:before {
  color: #0284c7 !important;
  /* Primary Color */
  opacity: 0.25 !important;
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: #0284c7 !important;
  opacity: 1 !important;
}


.slick-prev:before,
.slick-next:before {
  color: #0284c7 !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out forwards;
}